html {
    scroll-behavior: smooth;
}


/*font*/
body {
    font-family: 'Poppins', sans-serif;
    /* transition: all 3s ease-in; */
    scroll-behavior: smooth;
    /* background-color: rgb(231, 230, 230); */
}

::-webkit-scrollbar {
    display: none;
}

.bg-yellow-500 {
    background-color: #F48C06;
}
.bg-green-500 {
    background-color: #029602;
}
.text-yellow-500 {
    color: #F48C06;
}
.floating { 
    animation-name: floating; 
    animation-duration: 3s; 
    animation-iteration-count: infinite; 
    animation-timing-function: ease-in-out;
} 
.bg-cream {
    /* background-color: #FFF2E1; */
    background-color: #029602;;
}
.cream {
    color: white;
    /* color: #2F327D; */
    font-weight: 500;
}
.steps {
    box-shadow: 2px 2px 5px 1px  #e5cccc52;
    background-color: #fffafc;
    color: #786c60;
}


@keyframes floating { 
    0% { transform: translate(0, 0px); } 
    50% { transform: translate(0, 8px); } 
    100% { transform: translate(0, -0px); }  
} 
.floating-4 { 
    animation-name: floating; 
    animation-duration: 4s; 
    animation-iteration-count: infinite; 
    animation-timing-function: ease-in-out;
} 
@keyframes floating-4 { 
    0% { transform: translate(0, 0px); } 
    50% { transform: translate(0, 8px); } 
    100% { transform: translate(0, -0px); }  
}
.text-darken {
    color: #2F327D;
}





button {
    color: rgb(255, 255, 255);
    /* padding: 20px 70px; */
    /* width: 100%; */
    border: none;
    border-radius: 10px;
    line-height: 1.5em;
    font-weight: 400;
    /* margin-bottom: 15px; */
    text-transform: uppercase;
    background-color: #252641;
    transition: all .5s ease-in;
    transition: transform .1s ease-in;
}
button:hover {
    /* opacity: 0.75; */
    background-color: #1f202c;
}
button:active {
    transform: scale(0.95);
}

button span {
    font-weight: 700;
    color: rgb(255, 255, 255);
}

input {
    width: 100%;
    border-radius: 5px;
    border-color: #f1f1f1 ;
    padding: 20px;
    /* padding-left: 10px; */
    margin-bottom: 20px;
    color: black;
}
input:focus {
    outline: 2px solid rgb(67, 125, 128);
}
input.error {
    background: url(./images/icon-error.svg) no-repeat scroll 95%;
    margin-bottom: 5px;
}

input.error.stop {
    background-image: none;
}

form span {
    /* display: inline-block; */
    float: right;
    /* border: 1px solid green; */
    font-size: .7em;
    color: red;
    /* margin-bottom: 15px; */
}